.card_wrapper {
    /*     display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;*/
    
        justify-items: center;
        //padding-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 2rem 2rem 1rem;
        background-color: rgba(0, 0, 0, 0.774);
        padding: 5rem 1rem 0 1rem;
        
    
    
    
       
    .card {
        //background-color: rgba(255, 255, 255, 0.89);
        background-color: white;
        border: solid black 2px;
        text-shadow: 0 .12rem .5rem #0000003d;
         border-radius: 5px;
        height: 28rem;
        box-shadow: 0 .12rem .7rem #00000075;
        margin: 2rem 0 2rem 0;
        
        .card-title {
            padding: 0.2rem;
            border: solid black 1px;
            //border-radius: 5px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.76);
            color: white;
            box-shadow: 0 .12rem .7rem #00000075;
        }
        
        .card-image {
            opacity: 0.85;
            //box-shadow: 0 .12rem .7rem #00000075;
        }
    
        .card-image:hover {
            opacity: 1;
        }
    
        #btn-booking {
            background-color: white;
            margin-right: 1rem;
            border: solid green 1px;
        }
    
        #btn-booking:hover {
            color: white;
            background-color: rgba(37, 102, 37, 0.733);
         
        }
    
        .btn {
            background-color: gray;
            border: none;
            box-shadow: 0 .12rem .5rem #0000003d;  
             
        }
    
        }
    
    
    
    }