@import 'nav.scss';
@import 'footer.scss';
@import 'adminpage.scss';
@import 'register.scss';
@import 'login.scss';
@import 'about.scss';
@import 'landing.scss';
@import 'bookings.scss';
@import 'card.scss';
@import 'form.scss';
@import 'contact.scss';
@import 'userpage.scss';

//Lägga in "gamla stylingen från till nya register"

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;

    // BAKGRUNDSBILD css
    background-image: url("./images/backgrund4.jpg");   
    //background-color: rgba(133, 133, 133, 0.658);
    //background-color: white;
   // background: rgb(7,6,6);
    //background: radial-gradient(circle, rgba(7,6,6,1) 72%, rgba(249,249,249,1) 100%);
   // background-color: black;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
.app_wrapper {    

        min-height: 450px;     

}



}